<div class = "user" >
    <h1>プロフィール編集</h1>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <%= form_for(@users) do |f| %>
                <%= render 'shared/error_messages', object: f.object %>
                
                <div class="profile_left">

                    <%= f.label :name %>
                    <%= f.text_field :name, class: 'form-control' %>              

                    <%= f.label :メールアドレス %>
                    <%= f.email_field :email, class: 'form-control' %>

                    <%= f.label :パスワード %>
                    <%= f.password_field :password, class: 'form-control' %>

                    <%= f.label :パスワード確認 %>
                    <%= f.password_field :password_confirmation, class: 'form-control' %>

                    <div class="icon">
                        <img src="<%= "#{@users.id}"+".jpg" %>">
                    </div>
                    <%= f.label :画像編集 %>
                    <%= f.file_field :image, class: "image"  %>


                </div>
                <%= f.submit "更新する", class: "btn btn-primary" %>
            <% end %>
        </div>
    </div>
</div>