
<body>
<h1>雲飯｜煙草が吸える飲食店紹介</h1>


<h2>エリアから探す</h2>

<div class="box29">
    <div class="box-title">北海道・東方地方</div>
        <p>
            <% @prefectures.slice(0, 7).each do | prefecture | %>
                <% p_name = prefecture.prefname %>
                <% if @stores.find_by(prefecture: [p_name]) == nil %>
                    <%= prefecture.prefname %>
                <% else %>
                    <%=  link_to prefecture.prefname , "/pref/#{prefecture.id}" %>
                <% end %>
            <% end %>
        </p>
</div>

<div class="box29">
    <div class="box-title">関東地方</div>
        <p>
            <% @prefectures.slice(8, 6).each do | prefecture | %>
                <% p_name = prefecture.prefname %>
                <% if @stores.find_by(prefecture: [p_name]) == nil %>
                    <%= prefecture.prefname %>
                <% else %>
                    <%=  link_to prefecture.prefname , "/pref/#{prefecture.id}" %>
                <% end %>
            <% end %>
        </p>
</div>

<div class="box29">
    <div class="box-title">中部地方</div>
        <p>
            <% @prefectures.slice(14, 9).each do | prefecture | %>
                <% p_name = prefecture.prefname %>
                <% if @stores.find_by(prefecture: [p_name]) == nil %>
                    <%= prefecture.prefname %>
                <% else %>
                    <%=  link_to prefecture.prefname , "/pref/#{prefecture.id}" %>
                <% end %>
            <% end %>
        </p>
</div>

<div class="box29">
    <div class="box-title">近畿地方</div>
        <p>
            <% @prefectures.slice(23, 7).each do | prefecture | %>
                <% p_name = prefecture.prefname %>
                <% if @stores.find_by(prefecture: [p_name]) == nil %>
                    <%= prefecture.prefname %>
                <% else %>
                    <%=  link_to prefecture.prefname , "/pref/#{prefecture.id}" %>
                <% end %>
            <% end %>
        </p>
</div>

<div class="box29">
    <div class="box-title">中国地方</div>
        <p>
            <% @prefectures.slice(30, 5).each do | prefecture | %>
                <% p_name = prefecture.prefname %>
                <% if @stores.find_by(prefecture: [p_name]) == nil %>
                    <%= prefecture.prefname %>
                <% else %>
                    <%=  link_to prefecture.prefname , "/pref/#{prefecture.id}" %>
                <% end %>
            <% end %>
        </p>
</div>

<div class="box29">
    <div class="box-title">四国地方</div>
        <p>
            <% @prefectures.slice(35, 4).each do | prefecture | %>
                <% p_name = prefecture.prefname %>
                <% if @stores.find_by(prefecture: [p_name]) == nil %>
                    <%= prefecture.prefname %>
                <% else %>
                    <%=  link_to prefecture.prefname , "/pref/#{prefecture.id}" %>
                <% end %>
            <% end %>
        </p>
</div>

<div class="box29">
    <div class="box-title">九州・沖縄地方</div>
        <p>
            <% @prefectures.slice(39, 8).each do | prefecture | %>
                <% p_name = prefecture.prefname %>
                <% if @stores.find_by(prefecture: [p_name]) == nil %>
                    <%= prefecture.prefname %>
                <% else %>
                    <%=  link_to prefecture.prefname , "/pref/#{prefecture.id}" %>
                <% end %>
            <% end %>
        </p>
</div>

</body>