<h1><%= @prefectures.prefname %>のお店一覧</h1>

<% @stores.each do |store| %>
    <% if store.prefecture == @prefectures.prefname %>
        <div class="item_list01">
            <h3>
                <%=link_to store.name , detail_path(store.id) %> 
            </h3>
            <div class="item_list01_center">
                <div class="item_list01_center_img">
                    <%= image_tag('noimage.jpg') %>
                </div>
                <div class="item_list01_center_text">
                    <p><%=store.city_street%></p>
                    <p><%=store.smoking%></p>
                </div>
            </div>
        </div>
    <% end %>
    
    
<% end %>