<h1><%= @prefectures.prefname %>のお店一覧</h1>

<% @stores.each do |store| %>
    <% if store.prefecture == @prefectures.prefname %>
        <h3><%=link_to store.name , detail_path(store.id) %></h3>
        <%=store.name_hurigana%>
        <p><%=store.smoking%></p>
        <p><%=store.city%></p>
    <% end %>
    
    
<% end %>