<div class="detail">
    <div class="detail_top">
                <h1>
                    <%= @stores.name %>
                    <%= @stores.name_hurigana %>
                    </h1>
    </div>
    <div class="detail_bottom">
        <div class="detail_bottom_img">
            <%= image_tag('noimage.jpg') %>
        </div>
        <dic class="detail_bottom_table">
            <table>
                <tr>
                <th>店舗名</th>
                <td><%= @stores.name %><%= @stores.name_hurigana %></td>
            </tr>
            <tr>
                <th>喫煙・分煙</th>
                <td><%= @stores.smoking %></td>
            </tr>
            <tr>
                <th>営業時間</th>
                <td><%= @stores.business_hours%></td>
            </tr>
            <tr>
                <th>所在地</th>
                <td><%= @stores.city_street %></td>
            </tr>
            </table>
        </div>
    </div>
</div>

<% @review_display.each do |review| %>
    <div class="review">
        <div class="review_user">
            <%= image_tag('noimage.jpg') %>
            <% c = review.user_id %>
            <%= @user_review["#{c}".to_i]['name'] %>
        </div>
        <div class="review_content">
            <div class="review_content">
                <div class="review_content_text">
                    <p><%= review.content %></p>
                </div>
                <div class="review_content_picture">

                <img src="<%= "#{review.image}" %>">
                </div>
            </div>
        </div>
    </div>
<%end%>

<% if logged_in? %>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <%= form_for(@reviews) do |f| %>

                <%= f.text_field :content,class: "text-field"  %>
                
                <%= f.label :画像 %><br />
                <%= f.file_field :image, class: "image"  %>

                <%= f.hidden_field :user_id ,  value: @users   %>
                <%= f.hidden_field :store_id , value: @stores.id %>
                <%= f.submit '投稿', class: "submit-btn" %>
            <% end %>
        </div>
    </div>
<% end %>